html, body {
  text-align: center;
  background: #fdf6e3;
  font-style: "Gentium Book Basic";
}

canvas {
  background: #404040;
  border: 5px solid #909090;
}

#gameBoard {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto ;
    margin-right: auto ;
    width: 560px;
    height: 610px;
    border-radius: 80px;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(52,4,77,1) 25%, rgba(9,9,121,0.633473457742472) 50%, rgba(52,4,77,1) 75%, rgba(0,212,255,1) 100%);
    background-position: center;
	animation: pulse 5s infinite;
    animation-direction: alternate;
    box-shadow: 2px 2px 3px black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10;
    border: 10px groove gray; 
    border-right: 10px ridge gray;
    border-bottom: 10px ridge gray;
}

@keyframes pulse {
    from { 
	background-size: 100%;}
    to { 
	background-size: 150%;}
}