/* fields and its colors */

html, body {
  background: #fdf6e3;
  font-style: "Gentium Book Basic";
}

.button {
  background: #586e75;
  color: #073642;
  box-shadow: 1px 1px 2px black;
}

#board {
  background-color: #002b36;
  box-shadow: 2px 2px 3px black;
}

#topbar {
  background-color: #002b36;
  box-shadow: 2px 2px 3px black;
}

#leftGrid {
  border-style: solid;
  border-color: black;
  background: #586e75;
}

#midGrid {
  border-style: solid;
  border-color: black;
  background: #839496;
}

#rightGrid {
  border-style: solid;
  border-color: black;
  background: #586e75;
}

.color {}

.color-0 {
  background: #b58900;
}

.color-1 {
  background: #268bd2;
}

.color-2 {
  background: #dc322f;
}

.color-3 {
  background: #2aa198;
}

.color-4 {
  background: white;
}

.color-5 {
  background: black;
}

.color-6 {
  background: #6c71c4;
}

.color-7 {
  background: #d33682;
}

.color-8 {
  background: #073642;
}

.color-9 {
  background: #a5948c;
}

.guessFieldContainer {}

.guessField {}

.guessField-0 {
  background: black;
  box-shadow: 1px 1px 1px black;
}

.guessField-1 {
  background: white;
  box-shadow: 1px 1px 1px black;
}

.guessField-2 {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 12px;
  width: 12px;
  margin: 1px 1px;
  padding: 0;
  border-radius: 4px;
}